.dashboardContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: larger;
  font-family: 'poppins';
}

.chartContainer {
  margin-bottom: 30px;
}
.chartContainer canvas{
  width: 100% !important;
  height: 500px !important;
}

.mainMenu {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menuIcon {
  width: 60px; 
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
}

.menuIcon:hover {
  transform: scale(1.1);
}